{% extends 'base_template.html' %}

{% block title %}Help{% endblock %}

{% block body_data %}
<section class="help-section">
    <h2>Help</h2>
    <p>Welcome to the Help Page!</p>
    <p>This page is designed to assist you in navigating through our website. Below are some tips to help you get started:</p>
    <ul>
        <li><strong>Home:</strong> Click on the Home link in the header to return to the homepage.</li>
        <li><strong>About:</strong> Click on the About link in the header to learn more about our project.</li>
        <li><strong>Help:</strong> You are currently on the Help page, where you can find guidance on navigating the website.</li>
    </ul>
</section>
{% endblock body_data %}